Implement auth and custom user app

- [x] custom user app
- [x] custom auth
- [x] make django's auth password validator work with drf serializers


It might be worthwhile to just default to lowercase in the case of implementing this? Thoughts?

**Example with using Email for auth:**
```python
class LowercaseEmailField(models.EmailField):
    """
    Forces an email to be lowercase to avoid issues where users sign up
    under the same email address as someone else

    Ex:
    "john@example.com" == "John@example.com"
    """
    def get_prep_value(self, value):
        value = super(LowercaseEmailField, self).get_prep_value(value)
        if value:
            value = value.lower()
        return value
```

According to the [RFC 5321 section 2.4](https://tools.ietf.org/html/rfc5321#section-2.4) (or [RFC 2821](http://www.ietf.org/rfc/rfc2821.txt))

```
   The local-part of a mailbox MUST BE treated as case sensitive.
   Therefore, SMTP implementations MUST take care to preserve the case
   of mailbox local-parts.  In particular, for some hosts, the user
   "smith" is different from the user "Smith".  However, exploiting the
   case sensitivity of mailbox local-parts impedes interoperability and
   is discouraged.  Mailbox domains follow normal DNS rules and are
   hence not case sensitive.
```
So we can't transform all the email address to lowercase because some email servers (postfix by default do it) distinguish addresses with capital letters.

I like the idea of having a custom email field. At-max, `normalize_email`[1] method can be used s it's used in `create_user`[2].

You can find a nice work around for this problem in this pull-request: https://github.com/taigaio/taiga-back/pull/528/files. The solution works like this:

> If there are two user with the same email (ex@ex.com and EX@ex.com) the login is case sensitive but if there is only one user the login form is case insensitive.

[1] https://github.com/django/django/blob/1.9.5/django/contrib/auth/base_user.py#L19-L31 
[2] https://github.com/django/django/blob/1.9.5/django/contrib/auth/models.py#L145